/* нужная настройка, чтоб в разних
браузерах вгледело все одинаково */
*{  padding: 0;
    margin: 0;
    border: 0;
}
/* НАСЛЕДУЕТСЯ*/  /* это для легкого расчета размеров блоков*/
/* потому что по умолчанию не включаются отступи границ*/
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/* убираем линии обводки */
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

/* перечесляем html теги коториее
 у нас будут блочними сразу*/
 nav,footer,header,aside{display: block;}
 /* обратимся к тегам htvl и body
 уравняем их параметри для разних
 шривтов и браузеров*/
 html,body{
     height: 100%;
     width: 100%;
     font-size: 100%;
     line-height: 1;
     font-size: 14px;
     -ms-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
     -webkit-text-size-adjust: 100%;
 }
 /* попросим чтоб тегu form наследовал шрифт
 */
input,button,textarea{font-family: inherit;}

/* убирает некоторие особенности в 
браузерах и чистятся стили
марсерованих списков */
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
/* обнуляем все заголовки h*/
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}
/*-----------------------------------------------------------------------------
-------------------------------------------------------------------------------*/